# Dependencies
node_modules/
.pnp/
.pnp.js

# Build outputs
.next/
out/
dist/
build/

# Testing
coverage/

# Turbo
.turbo/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
